---
layout: page
title: Presentations & Demos
---

<h3>Demos</h3>
<ul>
    {% for demo in site.data.demos %}
    <li>{% if demo.url %}<a href="{{ demo.url }}">{% endif %}{{ demo.title }}.{% if demo.url %}</a>{% endif %}</li>
    {% endfor %}
</ul>
<h3>Upcoming Presentations</h3>
<ul>
    {% for presentation in site.data.upcoming_presentations %}
    {% if presentation.date %}
    <li>{{ presentation.date | date: "%b %-d, %Y" }}. {{ presentation.presenters | join: "; " "}}. "{% if presentation.url %}<a href="{{ presentation.url }}">{% endif %}{{ presentation.title }}.{% if presentation.url %}</a>{% endif %}" {{ presentation.event }}{% if presentation.location %} ({{presentation.location}}){% endif %}.</li>
    {% else %}
    <li>{{ presentation.title }}</li>
    {% endif %}
    {% endfor %}
</ul>

<h3>Previous Presentations</h3>
<ul>
    {% for presentation in site.data.previous_presentations %}
    <li>{{ presentation.date | date: "%b %-d, %Y" }}. {{ presentation.presenters | join: "; " "}}. "{% if presentation.url %}<a href="{{ presentation.url }}">{% endif %}{{ presentation.title }}.{% if presentation.url %}</a>{% endif %}" {{ presentation.event }}{% if presentation.location %} ({{presentation.location}}){% endif %}.</li>
    {% endfor %}
</ul>
